/*CSS RESET*/
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* END CSS RESET */

/* Typography */
html {font-size: 100%;} /*16px*/

body {
  background: white;
  font-family: 'Cabin', sans-serif;
  font-weight: 400;
  line-height: 1.75;
  color: #000000;
}

p {margin-bottom: 1rem;}

h1, h2, h3, h4, h5 {
  margin: 3rem 0 1.38rem;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  line-height: 1.3;
}

h1 {
  margin-top: 0;
  font-size: 7.594rem;
}

h2 {font-size: 5.063rem;}
#smaller {font-size: 4rem;}

h3 {font-size: 3.375rem;}

h4 {font-size: 2.25rem;}

h5 {font-size: 1.5rem;}

small, .text_small {font-size: 0.667rem;}

/* END Typo(graphy)*/

/*Global Styles*/

.d-flex{
    display: flex;
}

.f-column {
    flex-direction: column;
}

.space-between {
    justify-content: space-between;
}

.h-center{
    align-items: center;
}

.split-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
.wrapper {
    padding: 2em;
}

.m-0 {
    margin: 0;
}
.btn {
    padding: 8px 16px;
    text-decoration: none;
    color: #000000;
}
.btn-secondary {
border: 1px solid #d6d6d6;
border-radius: 30px;
color: #6d6d6d;
}
.btn-secondary:hover {
    background-color: orange;
    color: white;
    border-radius: 30px;
    }

     
/*END Global Style*/

/*Main Styles*/
.hero > .col {
    min-height: 100vh;
}
.hero-bg{
    background-image: url(../assets/images/pilt.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
} 
.social-sidebar img {
    width: 1.3em;
    margin: 0.5em;
}

.social-sidebar{
    margin: 0.1em;
}

.logo {
    width: 4em;
}

.hero-copy {
    position: relative;
}

.placeholder {
    color: #f3f3f3;
    font-size: 700;
    position: absolute;
    left: -60px;
    position: absolute;
    top: -20px;
    z-index: -1;
}

.hero-copy span{
text-transform: capitalize;
}

.hero-copy > h2 > span{
color: orange
}

.social-footer{
    flex-direction: row;
}
/*END Main Styles*/